*

body {

    font-family: 'Yaldevi', sans-serif;
    margin: 0;
    background-image: url('3139802.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white; 
    width: 100%;
}

.navbar {
    position: relative;
    z-index: 2;
}

.sitemap {
    display: inline-block;
    text-align: center;
    margin: 40px 0;
    position: relative;
    z-index: 1;
    width: 100%; /* Adjusted width to 100% */
    height: 100%;
}

.sitemap #heading {
    margin-left: 250px;
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffffff;
   
}

.rectangle {
    fill: #044061;
}

.rectangle:hover {
    fill: #6cacdd;
}

.svgtext {
    font-family: 'Cutive Mono', monospace;
    font-size: 20px; /* Adjusted from 16px to 14px */
    text-anchor: middle;
}

svg {
    display: block;
    margin: 0 auto;
}

.svgtext1 {
    font-family: 'Cutive Mono', monospace;
    font-size: 14px; /* Adjusted from 16px to 14px */
    text-anchor: middle;

}



.social_icon {
    list-style-type: none;
    padding: 0;
}

.social_icon li {
    display: inline-block;
    margin: 0 10px;
}

.social_icon li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.menu li {
    display: inline-block;
    margin: 0 15px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.svgtext2{
    font-family: 'Cutive Mono', monospace;
    font-size: 24px; /* Adjusted from 16px to 14px */
    text-anchor: middle;

}
