
.content {
  display: flex;
  max-width: 1200px;
  margin: 60px auto;
  flex-wrap: wrap; 
}

.content .info, .content .sdg-info {
  flex: 1;
  margin: 20px;
}

.content .info h2 {
  color: #fff;
  font-size: 65px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 20px;
}

.content .info h2 span {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

.content .info p {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 40px;
}

.content .info-button {
  color: #fff; 
  background: #22802f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
}

.content .info-button:hover {
  background: #194e24;
  transform: translateY(-2px); 
}


.sdg-info h2 {
  font-size: 35px;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.sdg-info h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #fff;
  text-align:justify;
}

.sdg-info p {
  font-size: 18px;
  color: #fff;
}

.more {
  color: #22802f;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 2px 5px;
  border-radius: 3px;
}

.more:hover {
  color: #fff;
  background-color: #22802f;
}


/**contentpage**/


   
.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #b3c9b6;
}

.content_box {
  background: rgb(62, 116, 139);
  width: 250px;
  margin: 20px; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.content_box:hover {
  background-color: rgb(59, 56, 56);
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.content_box-image {
  background-size: cover;
  border-radius: 15px;
  height: 200px;
  margin-bottom: 15px;
}

.pic-1 {
  background-image: url('spiritual_health.webp');
}

.pic-2 {
  background-image: url('mental_health.jpg');
}

.pic-3 {
  background-image: url('physical_health.jpg');
}

.pic-4 {
  background-image: url('social_health.webp');
}

.content_box h2 {
  padding: 10px;
  color: white;
}

.content_box p {
  padding: 5px;
  color: white;
}

.content_box a {
  background-color: rgb(82, 36, 15);
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.content_box a:hover {
  background-color: #3a1911;
}
