
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}



header {
    position: sticky;
    z-index: 999;
  
   background-color: darkslategray;
    top: 0;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px; 
   
}

header .logo img {
    width: 70px; 
    height: auto;
    border-radius: 80px;
}

header .navigation a {
    color: #fff; 
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background 0.3s, color 0.3s;
}

header .navigation a:not(:last-child) {
    margin-right: 30px;
}

header .navigation a:hover {
    background: rgba(255, 255, 255, 0.2); 
    color: #fff;
}

/* Footer Styles */
footer {
   background-color: darkslategray;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 0rem;
    border-radius: 2px;
    
}

.footer-content1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    text-align: center;
}

.footer-content2 {
    margin: 10px;
}

.footer-content2 a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-content2 a:hover {
    color: #00ff88; 
    text-decoration: underline; 
}


footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-content h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

footer .footer-content p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto 20px;
}

footer .socials {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer .socials li {
    margin: 0 10px;
}

footer .socials li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

footer .socials li a:hover {
    color: gold
    
}

.footer-bottom {
    margin-top: 10px;
}

.footer-bottom p {
    font-size: 14px;
}


.footer-contentlinks a {
    color: #fff;
}

.name a {
    color: #fff;
}

footer sub {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

section{
    background-image: url("green.jpg");
    background-repeat: no-repeat;
}

.image{
    margin-top:5%;
    align-items: center;
    width: 300px;
    height: auto;
    margin-left: 40%;
}

h1{
    font-size: 50px;
}

hr {
    border: 1px solid white;
    margin: 40px 0;
}

p{
    font-size: larger;
    margin: 1% 10% 1% 10%;
}

h1,h2{
    margin-left: 3%;
}

.splash-screen{margin-left: 30%;}

.shop{margin-left: 25%;
    margin-bottom: 2%;}

a:hover{
    color: #00ff88;
}



